/venv
/static/img/predictions
/static/img/uploads
/train_imgs
/__pycache__
.deployment
.vscode/settings.json
.vscode/settings.json
/whats-his-face-azure-func
.python_packages
.venv
proxies.json
local.settings.json
host.json
.funcignore
.vscode/settings.json
